@font-face {
  font-family: 'Strong';
  src: url("../fonts/Strong-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Strong';
}

.container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.home {
  background: linear-gradient(269.84deg, #00DBDE 1.07%, #FC00FF 100.74%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .left-sub {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1.2;
      -ms-flex-positive: 1.2;
          flex-grow: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  padding-left: 110px;
}

.home .left-sub__design {
  color: #FFE600;
}

.home .left-sub__frontend {
  color: #FFBEF9;
}

.home .left-sub p {
  font-size: 24px;
  line-height: 50px;
  margin: 40px 0px 60px 0px;
  letter-spacing: 1.555em;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.home .left-sub button {
  border: 0.1em solid #FFFFFF;
  font-family: 'Strong';
  color: #fff;
  padding: 10px 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home .left-sub button:hover {
  border-radius: 20px;
  letter-spacing: 0.3em;
  background-color: rgba(255, 255, 255, 0.1);
}

.home .left-sub h1 {
  font-size: 60px;
  line-height: 72px;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  text-transform: uppercase;
}

.home .right-sub {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.back-circles {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back-circles .full-circle {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #fff;
}

.back-circles .full-circle:nth-child(1) {
  left: 10%;
  bottom: 22%;
}

.back-circles .full-circle:nth-child(2) {
  left: 30%;
  top: 10%;
}

.back-circles .empty-circle {
  position: absolute;
  width: 45px;
  right: 500px;
  height: 45px;
  border-radius: 100%;
  border: 1px solid #fff;
}

.back-circles .empty-circle:nth-child(3) {
  right: 10%;
  top: 15%;
}

.back-circles .empty-circle:nth-child(4) {
  right: 35%;
  bottom: 5%;
}

.back-circles .empty-circle:nth-child(5) {
  left: 25%;
  bottom: 15%;
}

.back-circles .empty-circle:nth-child(6) {
  width: 200px;
  height: 200px;
  top: -10%;
  left: 50%;
}

.right-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-sub .nav-menu__li {
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  color: #fff !important;
}

.right-sub .nav-menu__li .pr {
  font-size: 25px;
  color: #929292;
}

.right-sub .nav-menu__li span {
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.right-sub .nav-menu__li:hover {
  -webkit-transform: rotateX(25deg);
          transform: rotateX(25deg);
}

.right-sub .nav-menu__li .box-shadox {
  -webkit-box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1), inset 0px 4px 25px rgba(11, 56, 46, 0.2) !important;
          box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1), inset 0px 4px 25px rgba(11, 56, 46, 0.2) !important;
}

.right-sub .nav-menu__li:nth-child(1) {
  font-size: 24px;
  color: #00A8BD;
  line-height: 1.2;
  position: relative;
  -webkit-box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1), inset 0px 4px 25px rgba(11, 56, 46, 0.2);
          box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1), inset 0px 4px 25px rgba(11, 56, 46, 0.2);
  width: 188px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  height: 188px;
}

.right-sub .nav-menu__li:nth-child(1):before {
  content: url(../images/arrow-back.svg);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-300px, 200px);
          transform: translate(-300px, 200px);
}

.right-sub .nav-menu__li:nth-child(1):after {
  content: url(../images/arrow-back2.svg);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(130px, 220px);
          transform: translate(130px, 220px);
}

.right-sub .nav-menu__li:nth-child(2) {
  font-size: 24px;
  color: #29AEFA;
  background: radial-gradient(74.15% 59.52% at 69.95% 26.86%, #FFFFFF 21.87%, #7EDDF8 74.97%);
  -webkit-box-shadow: 0px 10px 44px rgba(242, 94, 94, 0.1), inset 0px 4px 25px rgba(70, 156, 235, 0.42), inset 0px 15px 10px rgba(233, 255, 244, 0.88);
          box-shadow: 0px 10px 44px rgba(242, 94, 94, 0.1), inset 0px 4px 25px rgba(70, 156, 235, 0.42), inset 0px 15px 10px rgba(233, 255, 244, 0.88);
  width: 100px;
  -webkit-transform: translate(-50px, -150px);
          transform: translate(-50px, -150px);
  height: 100px;
}

.right-sub .nav-menu__li:nth-child(3) {
  font-size: 18px;
  color: #FF43D6;
  background: radial-gradient(74.15% 59.52% at 69.95% 26.86%, #FFFFFF 21.87%, #7EDDF8 74.97%);
  -webkit-box-shadow: 0px 10px 44px rgba(242, 94, 94, 0.1), inset 0px 4px 25px rgba(70, 156, 235, 0.42), inset 0px 15px 10px #E2FCFF;
          box-shadow: 0px 10px 44px rgba(242, 94, 94, 0.1), inset 0px 4px 25px rgba(70, 156, 235, 0.42), inset 0px 15px 10px #E2FCFF;
  width: 170px;
  -webkit-transform: translate(145px, 175px);
          transform: translate(145px, 175px);
  height: 170px;
}

.right-sub .nav-menu__li:nth-child(4) {
  font-size: 16px;
  color: #9955F2;
  background: radial-gradient(74.15% 59.52% at 69.95% 26.86%, #FFFFFF 21.87%, #7EDDF8 74.97%);
  -webkit-box-shadow: 0px 10px 44px rgba(242, 94, 94, 0.1), inset 0px 4px 25px rgba(70, 156, 235, 0.42), inset 0px 15px 10px #E2FCFF;
          box-shadow: 0px 10px 44px rgba(242, 94, 94, 0.1), inset 0px 4px 25px rgba(70, 156, 235, 0.42), inset 0px 15px 10px #E2FCFF;
  width: 90px;
  -webkit-transform: translate(-200px, -500px);
          transform: translate(-200px, -500px);
  height: 90px;
}

.right-sub .nav-menu__li:nth-child(5) {
  background: radial-gradient(74.15% 59.52% at 69.95% 26.86%, #FFFFFF 21.87%, #7EDDF8 74.97%);
  -webkit-box-shadow: 0px 10px 44px rgba(242, 94, 94, 0.1), inset 0px 4px 25px rgba(70, 156, 235, 0.42), inset 0px 15px 10px #E2FCFF;
          box-shadow: 0px 10px 44px rgba(242, 94, 94, 0.1), inset 0px 4px 25px rgba(70, 156, 235, 0.42), inset 0px 15px 10px #E2FCFF;
  width: 50px;
  -webkit-transform: translate(-400px, -70px);
          transform: translate(-400px, -70px);
  height: 50px;
}

.home .active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-nav-menu {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: fixed;
  z-index: 8;
  top: 50px;
  right: 50px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.btn-nav-menu span {
  display: block;
  margin-bottom: 5px;
  width: 9px;
  border-radius: 100%;
  height: 9px;
  background-color: #fff;
}

.btn-nav-menu:hover span:nth-child(1) {
  -webkit-animation: btnNavSpan1 1s infinite ease-in-out;
          animation: btnNavSpan1 1s infinite ease-in-out;
}

.btn-nav-menu:hover span:nth-child(3) {
  -webkit-animation: btnNavSpan1 1s infinite ease-in-out;
          animation: btnNavSpan1 1s infinite ease-in-out;
}

.btn-nav-menu:hover span:nth-child(2) {
  -webkit-animation: btnNavSpan2 1s infinite ease-in-out;
          animation: btnNavSpan2 1s infinite ease-in-out;
}

@-webkit-keyframes btnNavSpan1 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes btnNavSpan1 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes btnNavSpan2 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes btnNavSpan2 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=styles.css.map */